html {
  overflow-x: hidden;
  background-color: #F4F6F7;
}

body {
  background-color: #F4F6F7;
}

.imagennav {
  display: flex;
  margin-left: 10px;

}

.imagenlogo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.itemnav {
  display: flex;
  gap: 10px;
}

.espanima {
  line-height: 2;


}

.ingreso {
  background: url('../public/logo_life shift.png');
  width: 500px;






  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;

}

.containeringreso {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  top: 50px;
  background-color: #F4F6F7;
  justify-content: center;
}

.childin {

  text-align: center;
  font-size: 2em;
  color: greenyellow
}

.ingreso {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;




}

.registra {
  display: flex;
  width: 100%;
  justify-content: space-around;


}

.clickre {
  text-decoration-line: none;
  color: black;
  transition: all 1s asen;
}

.clickre:hover {
  color: blue;
}

.homecontaiener {
  display: grid;
  grid-template-columns: 80PX 1FR;
  position: relative;
  top: 65px;
  height: 100vh;

  background: #f5f5f5;
  column-gap: 30px;

}

@media only screen and (max-width:930px) {
  .homecontaiener {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 70px;


  }
}

.child2 {
  height: 100%;

}

.child3 {
  display: grid;
  height: 100%;
  background: #f5f5f5;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column: 2/5;
  column-gap: 30px;
  grid-column-gap: 50px;
  row-gap: 20px;


}

@media only screen and (max-width:600px) {
  .homecontaiener {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .child3 {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 10px;
  }

}


.clasechild {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  justify-content: s;

}

.clasechild img {
  max-width: 100%;
  height: 50%;
  transform: all 2s;
}

.img {
  transition: all 1s;
  border-radius: 10px;

}

.img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);



}

.clasechild button {
  border-radius: 0px;
}

@media(min-width:687px) {
  .clasechild {
    height: 500px;

  }


}

.clasechild span {
  text-align: center;
}

.imad {
  width: 100%;
  height: 200px;
}

.contaca {
  margin: 98px;
}

.contcarito {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.botonescambio {
  border: none;
  outline: none;
  background: #fff;

}

.botonescambio:hover {
  color: blue;

}

.imagen {
  width: 300px;
}

.divform {
  padding-top: 20px;
  justify-content: center;
}

.inputregistro {
  width: 200px;
}

@media (max-width:600px) {
  .divform {
    justify-content: center;

  }

}


@media (max-width:600px) {
  .conregis {
    width: 300px;
  }

  .imagen {
    width: 200px;
  }
}

.botonregistro {
  padding-top: 20px;

}

.botonre {
  border-radius: 10px;
  padding: 10px;
  background: gray;
  color: #F4F6F7;
}

.containerre {
  background: #F0F3F4;
}

.containerformula {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));

}

@media screen and (max-width:400px) {

  .containerformula {

    grid-template-columns: repeat(2, minmax(1fr, 1fr));

  }
}

.contenedorme {
  height: 100vh;
}

.conmedicamento {
  height: 100%;
}

.condescripcion {
  height: 100%;
}

.containerformula {
  height: 100%;
}

.inputmedicamentocantidad {
  width: 50px;
  text-align: center;
}

.containercodigo {
  height: 100vh;
  width: 100%;
  margin-top: 70px;
  padding: 20px;
  background-color: rgba(0, 225, 255, 0.2);
  /* Rojo con 50% de opacidad */


}

.divimagencodigo {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 30%;
}

.imagencodi {
  width: 100%;
  height: auto;
}

.formcodigo {
  display: flex;
  flex-direction: column;
  gap: 8px;



}

.formcodigo button {
  outline: none;
  border: none;
  border-radius: 10px;
  background: rgb(0, 128, 96);
  padding: 8px;
}

.formcodigo input {
  border-radius: 10px;
  outline: none;
  border: none;
  text-align: center;
}

.formcodigo input:hover {
  outline: 1px solid rgb(0, 153, 255);
}

.codigodeverificacio {
  position: relative;
  top: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  background: #f5f5f5;


}

.labelcodigo {
  text-align: center;
}

.otrosbotones_codigo {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;

}

.otrosbotones_codigo button {
  outline: none;
  border: none;
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.986);
  padding: 0px;
  width: 100px;
}

.navegacion {
  height: 70px;
  z-index: 300px;
}

.botonnav {
  border: none;
  background: none;
}

.botonnav:hover {

  cursor: default;


}

/* interfaz usuario principal                                 */
.botonnavegacionlog {

  width: 100%;
  border: none;
  text-align: center;



}

.botonnavegacionlog strong {
  display: inline-block;
  width: 100%;
  border: none;
  text-align: center;



}

.conusuario2 {
  height: 100vh;
  margin-top: 80px;

  margin-top: 60px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 80px 1fr;
  z-index: 2;
}

.containernavlog ul li {
  list-style: none;
}

.linavlog {
  height: 50px;
  text-align: center;


}

.logemo {
  width: 30px;
  height: 30px;
  color: #F4F6F7;
  margin-top: 10px;
}



.navegacion {
  background: rgba(128, 128, 128);
}

.listalog {
  background: rgba(128, 128, 128, 0.986);
  height: 100%;

}

.linavlog {

  border: 1px solid rgba(0, 0, 0, 0.10);

}

.inputregistrolog {
  width: 280px;
  outline: 1px solid;
  border: none;
  border-radius: 20px;
  padding: 5px;
}

.espanlog {

  display: inline-block;


}

.divspanlog {
  background: rgba(255, 0, 34, 0.5);
  width: 100%;
  height: 50px;
}

.botonlogcerrar {
  background: rgba(255, 0, 34, 0);
  border: none;
  outline: none;
}

.linavlog {
  transition: width 3s;
}

.divimgusu {
  width: 180px;
  height: 300px;
  text-align: center;
  background: #ECF0F1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.divimgusu svg {
  width: 100%;
  height: 100%;
  color: #fff;


}

.conchild {
  margin-left: 100px;
  margin-top: 20px;

}

.condivusufo {
  width: 150px;
  height: 200px;
  border: 1px solid black;
}

.divusuchild {
  justify-content: flex-start;
  align-items: self-start;
}

.divusuchild svg {
  width: 15px;
  height: 15px;
  color: #000;

}

.ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.divhistorialmedi {
  display: flex;
  flex-grow: 1;
  margin-top: 70px;
  height: 100vh;
  width: 100%;


}



.divhislog {
  max-width: 100%;
  width: 80px;
  height: 100%;
  margin: 0;

}

.divhislog div {
  max-width: 100%;
  width: 80px;
  height: 100%;
}

.histodiv {
  width: 100%;
  padding: 10px;
}







.histomedicamento {
  margin: 50px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  height: 300px;
  border-radius: 100px solid;
  display: flex;
  align-content: center;
  align-items: center;



}

.histomedicamento div {
  margin: auto;
  text-align: center;

}


@media screen and (max-width:930px) {
  .divhistorialmedi {
    flex-direction: column;
    overflow-y: hidden;





  }

  .divhislog {
    width: 500px;
    height: 50px;

  }




  .containernavlog {
    width: 100%;
  }


  .divhislog div {
    width: 100%;

  }

  .divhislog {
    margin-top: 0;
  }

  .histodiv {
    padding: 0;
  }

}



.listalog,
.linavlog {
  position: relative;
}

.condivimghis {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300px;
}

.elechildnuw {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  text-align: center;

  background: #fff;
  margin: auto;
}

.elegmignuw {
  width: 300px;
  height: 200px;
}

td {
  text-align: center;
}





.containerinforma {
  margin: 70px 70px;
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;

  height: 100%;

}

.forminfo {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.containerinforma div {
  margin-top: 50px;
}

.inputinfo {
  width: 250px;

}



.containerdes {
  position: relative;

}

.downdesple {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border: 1px solid;
}

.childes {
  position: absolute;
  overflow-y: scroll;
  width: 250px;
  height: 500px;
  background: #fff;
  top: 6px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.forminfo div {
  display: flex;
  flex-direction: column;
}

.containerdes2 {
  position: relative;

}


.childes2 {
  position: absolute;
  overflow-y: scroll;
  width: 250px;

  background: #fff;
  top: 110px;
  display: flex;
  flex-direction: column;
}

.conimginfo {
  margin-top: 0px !important;

  width: fit-content;
  height: 250px;
  border: 1px solid;
}

.iconimginfo {
  width: 200px;
  height: 250px;
  color: #fff;
}

.conimginfogrid {
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;
}

#iconsttach {
  margin-top: 0px;
}


@media screen and (max-width:600px) {

  .containerinforma {
    display: flex;
    flex-direction: column;
  }

  .conimginfogrid {
    order: 0;
  }

  .forminfo {
    order: 1;
  }
}

.cargarimg {
  color: gray;

}

.cargarimg:active {
  color: #273746;
}

.movillog {
  display: none;
}

@media screen and (max-width:930px) {
  .listalog {
    display: none;

  }

  .movillog {
    display: flex;


  }



  .child2 {
    height: 40px !important;
  }


  .logoburgue {
    width: 30px;
    height: 30px;
  }

  .conusuario2 {
    display: flex;
    flex-direction: column;

  }

  .conchild {
    margin: 0;
  }


}


@media screen and (max-width:630px) {
  table {
    max-width: 400px;
    height: 400px;

  }


}

.forusu:hover {
  cursor: pointer;
}

.listalog {
  padding: 0;
}

.listalog2 {
  display: none;


}

.listalog2 {
  flex-direction: column;
  padding: 0;


  width: 300px;
}

.containernavlog {
  z-index: 10;
}

.divimgusu img {
  width: 100%;
  height: 100%;
}


.botoncerrar {
  all: unset;

}


.botoncerrar:hover {
  color: red;
}


.condivimghis {
  position: absolute;
}

.elechildnuw {
  position: relative;
  top: 100px;
}

.child2 .containernavlog {
  height: 100%;
}

.listalog2 li {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

.conbuscamedicamento {
  display: flex;
  flex-direction: column;
}

.conbuscamedicamento div {
  margin-top: 10px;
}

.conchildbuscamedicamento {
  margin-left: 10px;
  position: relative;


}


.conchildbuscamedicamento input {
  padding: 3px 3px;
  width: 400px;
  border: none;
  outline: 0.5px solid;
  border-radius: 50px;
}

.conchildbuscamedicamentofixed {
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 60px;
  padding: 6px;
  background: #f5f5f5;
}

.conchildbuscamedicamentofixed input {
  padding: 3px 3px;
  width: 400px;
  border: none;
  outline: 0.5px solid;
  border-radius: 50px;
}

.conbus {
  position: relative;
  width: fit-content;
}

.iconsearchcon {
  width: fit-content;

  margin-top: 0 !important;
  position: absolute;
  right: 3px;
  bottom: 5px;
}

.iconsearch {
  width: 50px;
  height: 20px;
}

.clasebus {
  display: none;
}

.clasebusab {
  display: flex;
  position: absolute;
  z-index: 4;
  width: 100%;
  background: #fff;
  flex-direction: column;

}

.child4 {
  display: flex;
  flex-wrap: wrap;


}

.child4 .img {
  max-width: 250px;
  width: 250px;
  margin-left: 100px;
}

@media screen and (max-width:630px) {
  .child4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 50px;
    justify-items: end;

    overflow-x: visible;


  }

  .child4 .img {
    max-width: 220px;
    width: 220px;
    margin-left: 10px;
  }

}



@media screen and (max-width:980px) {
  .child4 .img {

    margin-left: 30px;
  }

}

.confirpaciente {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10% auto;
}

.spanclassfo {
  text-align: center;
}

textarea {
  max-height: 250px;
  height: 50px;
  overflow: hidden;



}

.text {
  outline: none;
  border: none;
  background: #F4F6F7;
  border-bottom: 2px solid #3498DB;
  padding-top: 20px;
}

.text {
  margin: 8px 0;
}

.inp {
  outline: none;
  border: none;
  background: #F4F6F7;
  border-bottom: 2px solid #3498DB;
  margin: 8px 0;
}

.botonfor {
  border: none;
  border-radius: 10px;
  background: #28B463;
  transform: background-image 1s;
}


.botonfor:active {
  background-image: linear-gradient(to bottom, #28B463, rgba(0, 0, 0, 0.336));
}

.direct {
  display: flex;

  justify-content: space-between;
}

.containerre {
  display: flex;
  flex-direction: column;

}

.rese {
  height: 100%;

}

.imgfor {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;



}

.imgchildfor {
  width: 80px;

}



.cantidad {
  display: grid;
  grid-template-columns: 20px 20px 20px;
}

.botonform {
  border: none;
  background: none;
}

.contantidad {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.forreseta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

}

.divformumla {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}

.antefor {
  color: #CACFD2;
  background: #85929E;
}

.antefor:hover {
  color: #CACFD2;
  background: #85929E;

}

.enlacea {
  width: fit-content;
}

.despuesfor {
  color: #000;
  transition: background-image 3s;
}

.despuesfor:hover {
  color: #ECF0F1;
}

.despuesfor:active {
  background-image: linear-gradient(to top, #2C3E50, rgb(0, 0, 0, 0.59));
}

.direct2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.despuesfor2 {
  color: #CACFD2;
  background: #85929E;
}

.despuesfor2:hover {
  color: #CACFD2;
  background: #85929E;
}

.antefor2 {
  color: #000;
  transition: background-image 3s;
}

.antefor2:hover {
  color: #ECF0F1;

}

.antefor2:active {
  background-image: linear-gradient(to top, #2C3E50, rgb(0, 0, 0, 0.59));
}

.conforcard {
  height: 100%;


}

.rese {
  height: 100vh;
}

.conforcard {
  position: relative;
  height: 100%;
  flex-shrink: 1;

}

.navegacion {
  box-sizing: border-box;
}

.direct2 {
  position: absolute;
  bottom: 0;
  z-index: 300;
  background: #ECF0F1;


}

.forminfo {
  box-sizing: border-box;
  margin: 0 !important;
}

.botoninfogua {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.botoninfogua {
  padding: 10px;
}

.forminfor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tablamedicamento tr th {
  text-align: center;
}

.conconfi {
  margin-top: 5px;
}

.confirhis {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;



}

.homecontaiener {
  gap: 0;
}

.nopen {
  width: calc(200%/3);
  text-align: center;
  margin-top: 50px;
  height: 300px;
  border: 1px solid rgba(0, 0, 1, 0.397);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 20px;





}

.nopen button {
  width: 100px;
  display: flex;
  border: none;
  border-radius: 20px;
  background: #3498DB;
  flex-direction: column;

  align-items: center;
  padding: 0;
  height: 40px;
  transition: background 2s;

}

.nopen button span {
  height: 15px;
}

.nopen button i {
  height: 15px;
  font-size: 20px;



}

.nopen button:active {
  background: #1F618D;
  outline: 1px solid #808B96;

}

.sicon {
  height: 100%;
  width: 100%;
}

.formulahoja {
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  right: 0;
  position: fixed;
  overflow-y: scroll;

  justify-content: center;
  align-items: center;


}

.conho {
  position: absolute;
  top: 100px;
  height: 100%;
}

.conconfi {
  margin: 0;

}